<h2 style="margin-left: 1rem;">Solución 1</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Tarea </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Proveedor </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Caracteristicas </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> Precio al Mes </th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Costo al año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>

<table mat-table [dataSource]="dataTotal1" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> Precio al Mes </th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Costo al año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h2 style="margin-left: 1rem;">Solución 2</h2>

<table mat-table [dataSource]="dataOther" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Tarea </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Proveedor </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Caracteristicas </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> Precio al Mes </th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Costo al año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>

<table mat-table [dataSource]="dataTotal2" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef> Precio al Mes </th>
    <td mat-cell *matCellDef="let element"> {{element.month}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Costo al año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>