<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <a href="https://firebase.google.com/pricing/?&gclid=Cj0KCQjwo6D4BRDgARIsAA6uN18dqGsBXVTUWW547ERA597fuoRDikkfBnfea4seouX8VOuE18HJ_FoaAqhTEALw_wcB" target="_blank" mat-menu-item>Calculadora Firebase</a>
              <a href="https://www.digitalocean.com/pricing/" target="_blank" mat-menu-item>Digital Ocean</a>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <ul>
              <li>150 cuentas de correo mínimo con proyección a futuro</li>
              <li>500 megas de espacio mínimo, incremento del 50% anual</li>
              <li>Empresa de diseño y desarrollo, netamente ecuatoriana</li>
              <li>Subdominios o alias para los clientes</li>
              <li>Tienda en línea e información general de la empresa</li>
              <li>500 visitas diarias</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
